// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.comment-form input[type=email], .comment-form input[type=text], .comment-form input[type=url], .comment-form textarea, .form-control {
	border-radius: 0;
	border: 3px solid rgba(0,0,0,0.1);
	color: $color-text;
	line-height: 1;
	padding: 15px 20px;
}

.search-form .search-submit {
	margin-left: 10px;
	padding: 10px 15px;
}

.search-form .search-field {
	border-radius: 0;
	border: 3px solid rgba(0,0,0,0.1);
	color: $color-text;
	line-height: 1;
	padding: 7px 20px;
	max-width: 200px;
}

.comment-form input[type=email]:focus, .comment-form input[type=text]:focus, .comment-form input[type=url]:focus, .comment-form textarea:focus, .form-control:focus, .search-form .search-field:focus {
	border-color: $brand-primary;
}